<p>Happy Todo Application</p>
<ul>
    <div *ngFor="let item of allItems">
    <li>{{item}}</li>
    </div>
</ul>

<input #newItem type="text">
<button (click)="addItem(newItem.value)">Add Item</button>